################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Most common word/.vs/Most common word/v16
/Most common word/bin/Debug/netcoreapp3.1
/Most common word/obj
